---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>
    <div class="row g-5 mb-5">
      <p><a href="/cv/cv.pdf" class="col-md-1"> [PDF]</a></p>
<!--      <div class="col-md-2">-->
<!--        <h4>Education</h4>-->
<!--      </div>-->
<!--      <div class="col-md-10">-->
<!--        {% for section in site.data.cv.education %}-->
<!--          <p class="fw-bold">{{ section.title }}</p>-->
<!--          <p>{{ section.description }}</p>-->
<!--        {% endfor %}-->
<!--      </div>-->
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-3">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-9">
        {% for section in site.data.cv.academic-experience %}
        <p></p>
        <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>

      <div class="col-md-3">
        <h4>Graduate Teaching Assistant</h4>
      </div>
      <div class="col-md-9">
        {% for section in site.data.cv.teaching %}
        <span class="fw-bold" style="font-size: 20px;">{{ section.title }}</span>
        <span>  ({{ section.date }})</span>
        <p></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
